.button {
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  background-color: rgb(96, 158, 252);
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;

  &:hover {
    background-color: rgb(139, 218, 255);
  }
}
