.search {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  padding: 10px 10px 10px 16px;
  background-color: #a3c0f7;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  @media (min-width: 767px) {
    padding: 10px 10px 10px 30px;
  }

  & > button {
    flex-shrink: 0;
  }
}

.label {
  cursor: pointer;
  padding-left: 10px;
}

.checkboxBlock {
  margin-top: 25px;
  font-size: 18px;
  padding-left: 10px;
  display: flex;
}

.checkbox {
  padding-left: 10px;
  width: 18px;
  height: 18px;
  border: 2px solid #50514f;
  margin-right: 8px;
}

.textField {
  padding: 0 10px;
  flex-grow: 5;
  height: 60px;
  max-width: calc(100% - 100px - 20px);
  border: none;
  color: rgba(0, 0, 0, 0.815);
  font-size: 0.75rem;
  line-height: 1.5;
  cursor: pointer;
  background-color: #a3c0f7;

  &::placeholder {
    color: rgba(0, 0, 0, 0.521);;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 767px) {
    margin: 0 5px;
    font-size: 1.25rem;
    margin: 0 20px;
  }
}
